
body{
    background: rgb(255, 0, 106);
    margin-left: 20px;
    margin-right: 100px;
}

header{
    margin-top: 100px;
}

h1{
    color: rgb(217, 255, 5);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    color: rgb(255, 253, 127);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font: size 18px; ;
}

footer{
    margin-bottom: 30px;
}

.img_padrao{
    margin-bottom: 20px;
    width: 300px;
}


.logo{
    width: 20px;
}